Median.xcodeproj/project.xcworkspace/xcuserdata/anthonymace.xcuserdatad/UserInterfaceState.xcuserstate
Median.xcodeproj/xcuserdata/anthonymace.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.iml
*.xml